<h3>Hey. This is a site about bird watching.</h3>
<img src='../public/img/hummingbird.png' alt='image of a bird'>
<h5>See the <a href="birds">list</a> or change my <a href="settings">settings</a>. </h5>